@phone: ~"(max-width: 766px)";
@smallTablet: ~"(max-width: 767px)";
@tablet: ~"(min-width: 768px) and (max-width: 1023px)";
@desktop: ~"(min-width: 1024px)";

@titleFont: 'Muli', sans-serif;
@mainFont: 'Lato',Arial,sans-serif;
@navigationBg: #1c2025;

@import (less) 'vendors/normalize.css';
@import (less) 'vendors/flexslider.css';
@import 'basics/body';
@import 'basics/header';
@import 'parts/navbar';
@import 'basics/footer';
@import 'pages/team';
@import 'pages/technology';
@import 'pages/contact';
@import 'pages/case-study';
@import 'pages/about';
@import 'pages/responsive';