body {
  font-family: @mainFont;
  font-weight: 300;
  font-size: @mediumFontSize;
  color: #3f4850;
  line-height: 1.4em;
}

a, a:hover, a:active, a:focus {
  outline: 0;
}

.page {
  background-color: #f8f8f8;
  min-height: 390px;
}

.mobile-page {
  @media @smallTablet, @tablet {
    padding: 40px 20px;
  }
}

.clear {
  *zoom: 1;

  &:before,
  &:after {
    content: " "; /* 1 */
    display: table; /* 2 */
  }

  &:after {
    clear: both;
  }
}

.container {
  max-width: 960px;
  margin: auto;
  position: relative;

  @media @phone {
    max-width: 700px;
    margin: auto;
    position: relative;
  }
}

span.ico {
  height: 32px;
  width: 32px;
  display: block;
  margin: 0 auto 5px;
  position: relative;

  &:before {
    width: 32px;
    height: 32px;
    content: "\e000";
    position: absolute;
    top: 50%;
    left: 50%;
    text-align: center;
    margin-top: -16px;
    margin-left: -16px;
    color: #fff;
    font-family: 'icomoon';
    speak: none;
    font-style: normal;
    font-size: 32px;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    font-size: 32px;
    -webkit-font-smoothing: antialiased;
  }

  &.case-study:before {
    content: "\e00c";
  }
  &.contactus:before {
    content: "\e009";
  }
  &.responsive:before {
    content: "\e005";
  }
  &.team:before {
    content: "\e007";
  }
  &.technology:before {
    content: "\e001";
  }
  &.logo {
    width: 32px;
    height: 36px;
    margin-top: -4px;
    &:before {
      content: "";
      background: url(../img/logo-small.png) no-repeat 0 0;
      height: 36px;
      width: 32px;
    }
  }
}

div.bar {
  height: 46px;
  background-color: @navigationBg;

  .label {
    font-size: @bigFontSize;
    font-family: @titleFont;
    text-transform: uppercase;
    background-color: @navigationBg;
    color: #ddd;
    line-height: 1.8;
    float: left;
    max-width: 600px;

    @media @smallPhone {
      font-size: 1.3em;
      line-height: 2;
    }
  }

  span.ico {
    width: 75px;
    height: 75px;
    -webkit-box-sizing: border-box;;
    -moz-box-sizing: border-box;;
    box-sizing: border-box;;
    background-color: #D44E3E;
    border: 8px solid @navigationBg;
    float: left;
    margin: -15px 10px 0 0;
    position: relative;
    border-radius: 50%;
  }
}

blockquote {
  padding: 34px;
  margin: 0;
  background-color: #242424;
  border-radius: 15px;

  p {
    color: #999;
    line-height: 1.8;
  }

  .sign {
    padding-top: 73px;
    font-style: italic;
    color: #ccc;
    line-height: 1.2;
    text-align: right;
    .red {
      color: #d34d3e;
    }
  }
  .quote {
    font-size: 100px;
    font-family: "Times New Roman";
    color: #4C4C4C;
    font-weight: bold;
    line-height: 0.2;
    float: left;
    height: 20px;
  }
  .quote.closing {
    line-height: 1;
    float: right;
  }

}

.shade (@radius: 10px, @color: #000, @opacity: 0.7) {
  @ieOpacity: @opacity * 100;
  background-color: @color;
  opacity: @opacity;
  filter: alpha(opacity=@ieOpacity);

  border-radius: @radius;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  position: absolute;
  z-index: -1;
}

.shade {
  .shade;
}