header {
  background: #000 url(../img/header-bg.jpg) no-repeat 0 -269px fixed;
  min-height: 390px;

  .container {
    overflow: auto;
  }

  .headline {
    color: #FFF;
    font-family: @titleFont;
    text-shadow: 0 3px 3px rgba(0, 0, 0, 0.5);
    font-weight: bold;
    text-align: center;
    max-width: 918px;
    font-size: 29px;
    font-weight: 300;
    line-height: 1.2;
    margin: 0 auto 130px;
    @media @phone {
      margin-bottom: 80px;
    }
  }

  #logo {
    z-index: 1;
    margin: 115px auto 45px;
    text-align: center;

    img {
      max-width: 100%;
      width: 600px;
    }
  }

  @import '../parts/navbar';
}
