section.case-study {
  .page {
    background: url(../img/case-study_bg.jpg);
    padding: 128px 0px 135px;
  }

  &#case-study-mea {
    @media @desktop {
      .description {
        width: 460px;
      }
    }
  }

  .tile {
    .left {
      float: left;
      width: 50%;
    }
    .right {
      float: right;
      width: 50%;
    }

    .block {
      margin: 10px;
      float: left;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      background-color: #242424;
      border-radius: 0;
      display: block;
      min-height: 220px;
    }

    img.block {
      border: 5px solid #242424;
      &.tools {
        border: 0;
      }
      @media @desktop {
        &.tablet {
          width: 460px;
        }

        &.phone {
          width: 220px;
        }
      }
    }

    .tools {
      min-width: 220px;
      min-height: 220px;
      background: url(../img/cogbox.png) no-repeat 0 0;
      ul {
        list-style: none;
        padding: 20px 0 0 40px;
      }
      li {
        list-style: none;
        background: url(../img/cubebullet.png) no-repeat left top;
        padding: 0px 0px 15px 25px;
        color: #ccc;
        font-weight: bold;
      }
    }

    blockquote {
      max-width: 480px;
      height: 700px;
      .sign {
        padding-top: 60px;
      }
    }

    .description {
      color: #CCC;
      padding: 17px;
      position: relative;
    
      button {
        position: absolute;
        bottom: 17px;
        right: 17px;
        padding: 10px 24px 8px;
        background-color: #D44E3E;
        border: 0;
        text-transform: uppercase;
        border-radius: 6px;
        font-family: @titleFont;
        color: #fff;
        font-weight: bold;
        line-height: 1.2;
        text-align: center;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        
        &:hover {
          background-color: #EE2222;
          transition: background-color 200ms ease;
          -webkit-transition: background-color 200ms ease;
          -moz-transition: background-color 200ms ease;
        }
      }
    }

  }

  @media @smallTablet, @tablet {
    .page {
      padding: 30px 0;
    }

    .tile {
      width: 90%;
      margin: auto;

      .left, .right {
        width: 48%;
      }

      .block {
        width: 100%;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        margin: 5px auto;
      }
      blockquote.block {
        width: 100%;
        height: auto;
        p {
          font-size: 1em;
        }
      }
      img {
        float: none;
        &.tools {
          border: 5px solid #242424;
        }
      }

      .bottom {
        .description {
          width: auto;
        }
      }
    }
  }

  @media @phone {
    .tile {
      .left, .right {
        width: 100%;
        float: none;
      }
    }
  }

  .get-in-touch {
    background-color: #343434;
    min-height: 150px;

    .container {
      padding: 50px 15px;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
    }

    p {
      font-size: 25px;
      margin: 0;
      font-family: @titleFont;
      color: #fff;
      width: 50%;
      float: left;
      line-height: 1;
    }
    
    .button {
      float: right;
      display: block;
      text-decoration: none;
      width: 50%;
      height: 50px;
      background-color: #83A239;
      border: 0;
      text-transform: uppercase;
      border-radius: 6px;
      font-family: @titleFont;
      font-size: 30px;
      color: #FFF;
      font-weight: bold;
      line-height: 1.2;
      text-align: center;
      text-transform: uppercase;
      padding: 7px 45px;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      position: relative;
      
      &:hover {
        background-color: #55AA11;
        transition: background-color 200ms ease;
        -webkit-transition: background-color 200ms ease;
        -moz-transition: background-color 200ms ease;
      }
      
      &:before {
        content: '';
        background: url(../img/arrow-down.png);
        width: 21px;
        height: 27px;
        display: block;
        position: absolute;
        right: 20px;
        top: 50%;
        margin-top: -14px;
      }
    }

    @media @phone {
      p {
        text-align: center;
        margin-bottom: 20px;
      }

      p, .button {
        width: 100%;
        float: none;
      }

      .button {
        line-height: 1.5;
        font-size: 1.5em;
      }
    }

  }
}
