section.case-study {

  @media @smallPhone {
    .bar .label {
      font-size: 0.8em;
      line-height: 3;
    }
  }
  .page {
    background-color: #3F4850;
    padding: 66px 0px 90px;
  }

  .tile {
    .left {
      float: left;
      width: 50%;
    }
    .right {
      float: right;
      width: 50%;
    }
  }

  .mobile {
    display: none
  }

  .block {
    margin: 10px;
    float: left;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background-color: #242424;
    border-radius: 0;
    display: block;
    min-height: 220px;

    &.tools {
      min-width: 220px;
      min-height: 220px;
      background: #242424;
      padding: 20px;

      ul {
        list-style: none;
        padding: 15px 0 0 15px;
        margin: 0;
      }
      li {
        list-style: none;
        background: url(../img/cubebullet.png) no-repeat 0 5px;
        padding: 0px 0px 15px 30px;
        color: #999;
      }
    }

    &.description {
      color: #999;
      line-height: 1.5em;
      padding: 20px;
      position: relative;

      a {
        color: #D44E3E;
        text-decoration: none;
      }
    }

    &.logo {
      width: 460px;
      position: relative;
      //      float: none;
      //      background: transparent;
      clear: both;

      img {
        position: absolute;
        display: block;
        top: 50%;
        left: 50%;
      }
    }
  }

  &#case-study-mea .logo img {
    margin: -57px 0 0 -57px;
  }
  &#case-study-codio .logo img {
    margin: -49.5px 0 0 -130px;
  }
  &#case-study-coca-cola .logo img {
    margin: -110px 0 0 -230px;
  }
  &#case-study-netventures .logo img {
    margin: -70px 0 0 -156.5px;
  }

  &#case-study-mea {
    .description {
      width: 460px;

      @media @smallTablet, @tablet {
        width: 100%;
      }
    }
  }

  @media @desktop {
    &#case-study-codio {
      blockquote {
        padding-top: 107px;
      }
    }

    &#case-study-mea {
      blockquote {
        padding-top: 123px;
      }
    }

    &#case-study-coca-cola {
      blockquote {
        padding-top: 92px;
      }
    }

    &#case-study-netventures {
      blockquote {
        padding-top: 60px;
      }
    }
  }

  img.block {
    &.tablet {
      width: 460px;
    }

    &.phone {
      width: 220px;
    }
  }

  blockquote.block {
    width: 460px;
    padding: 20px;
    height: 460px;
    .sign {
      padding-top: 60px;
    }
  }

  @media @smallTablet, @tablet {
    .page {
      padding: 30px 0;
    }

    .tile {
      display: none;
    }

    .mobile {
      display: block;
      width: 80%;
      margin: auto;
    }

    img.block {
      &.tablet {
        display: none;
      }

      &.phone {
        width: 32%;
        float: left;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        &.padding {
          margin-left: 2%;
          margin-right: 2%;
        }
      }
    }

    .block {
      width: 100%;
      margin: 15px auto;
      float: none;
    }

    blockquote.block {
      width: 100%;
      height: auto;
    }

  }

  @media @phone {
    img.block {
      &.tablet {
        max-width: 100%;
        display: block;
      }

      &.phone {
        display: none;
      }
    }
  }
}

.get-in-touch {
  background-color: #343434;
  min-height: 150px;

  .container {
    padding: 50px 15px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }

  p {
    font-size: @bigFontSize;
    margin: 0;
    font-family: @titleFont;
    color: #fff;
    width: 50%;
    float: left;
    line-height: 1;
  }

  .button {
    float: right;
    width: 450px;
    height: 50px;
    padding: 7px 45px;
    position: relative;

    &:before {
      content: '';
      background: url(../img/arrow-down.png);
      width: 21px;
      height: 27px;
      display: block;
      position: absolute;
      right: 20px;
      top: 50%;
      margin-top: -14px;
    }
  }

  @media @smallTablet, @tablet {
    p, .button {
      float: none;
      margin: auto;
    }

    p {
      width: 80%;
      text-align: center;
      text-transform: uppercase;
      padding: 7px 45px;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      position: relative;

      margin-bottom: 20px;
    }
  }

  @media @phone {
    p {
      display: none;
    }

    .button {
      width: 80%;
      line-height: 1.8;
      font-size: @mediumFontSize;

      @media @smallPhone {
        line-height: 2.2;
        font-size: 0.9em;
      }

    }
  }
}
