section.responsive {

  .page {
    background: url(/img/responsive_bg.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    background-size: cover;
  }
  div.bar .ico-wrapper span {
    height: 44px;
    width: 23px;
    background-position: 0 -158px;
    margin-left: -12.5px;
    margin-top: -22px;
  }
}
