section#technology {

  .page {
    background: url(../img/technology_bg.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    background-size: cover;
    padding: 109px 20px 194px;
  }

  .overview {
    color: #ddd;
    padding: 30px 50px 0;
    line-height: 1.46;
    position: relative;
    z-index: 1;
    min-height: 390px;

    .content {
      width: 50%;
      float: right;
    }
    img {
      float: left;
      padding-right: 75px;
    }
    .shade {
      .shade(35px);
    }

    @media @smallTablet, @tablet {
      .content {
        width: 100%;
      }
      img {
        padding: 0 0 10px;
        float: none;
        margin: auto;
        display: block;
      }
    }
  }

}
