section.technology {

  .page {
    background: url(/img/technology_bg.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    background-size: cover;
  }
  div.bar .ico-wrapper span {
    height: 46px;
    width: 47px;
    background-position: 0 -207px;
    margin-top: -23px;
    margin-left: -23.5px;
  }
}
