header {
  background: url(../img/header_bg.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  background-size: cover;
  min-height: 390px;

  .headline {
    color: #FFF;
    font-family: 'Cabin', sans-serif;
    text-shadow: 0 3px 3px rgba(0, 0, 0, 0.5);
    font-weight: bold;
    text-align: center;
    max-width: 918px;
    font-size: 29pt;
    line-height: 1.2;
    text-transform: uppercase;
    margin: 0 auto 70px;
    @media @phone {
      font-size: 20pt;
    }
  }

  #logo {
    width: 481px;
    height: 108px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 17px 30px;
    z-index: 1;
    position: relative;
    margin: 130px auto 95px;

    .shape {
      background-color: #000;
      opacity: 0.5;
      border-radius: 10px;
      width: 100%;
      height: 100%;
      top: 0px;
      left: 0px;
      position: absolute;
      z-index: -1;
    }

    .ico {
      background-image: url(../img/logo.png);
      width: 72px;
      height: 80px;
      display: block;
      float: left;
      margin-right: 16px;
    }

    .text {
      color: #fff;
      font-family: 'Cabin', sans-serif;
      text-transform: uppercase;
      font-weight: bold;
      font-size: 80px;
      line-height: 0.9;
      text-shadow: 0 4px 4px rgba(0, 0, 0, 0.5);
      float: left;
      display: block;
      width: 333px;
      height: 65px;
    }

    @media @phone {
      padding: 17px 14px;
      width: 100px;
      margin: 0px auto 65px;

      .ico {
        margin-right: 0px;
        float: none;
      }

      .text {
        margin-top: 20px;
        float: none;
        font-size: 40px;
        width: 100px;
        height: auto;
        margin-left: -40px;
      }
    }
  }

  @import '../parts/navbar';
}
