section#about {
  .page {
    background-color: #f9f5f1;
    padding: 64px 0 128px;
  }

  div.bar .ico-wrapper span {
    height: 39px;
    width: 20px;
    background-position: 0 0px;
    margin-top: -19.5px;
    margin-left: -10px;
  }

  .overview {
    border-radius: 15px;
    padding: 15px;
    margin-bottom: 107px;
    color: #999390;
    line-height: 1.5;
    h3 {
      color: #666;
      margin: 10px 0 20px;
      font-weight: 300;
      font-size: 26px;
    }
  }

  .gallery {
    margin: auto;
    background: url(../img/desktop.png);
    width: 960px;
    height: 773px;
  }

  @media @phone {
    .gallery {
      background: url(../img/iphone.png);
      width: 282px;
      height: 549px;
    }
  }
  @media @smallTablet, @tablet {
    .gallery {
      background: url(../img/ipad.png);
      width: 650px;
      height: 502px;
    }
  }

}

